/*style. css*/
body{
  background-color: rgb(252,3,182);
  }
h1{
  color: black; 
}
h2{
  color: rgb(120,34,45);
}
h3{
  color: red;
}
h4{
  color: red;
}
p1{
  color: black; 
  background-color: #803f;
}